{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} - Films
{% endblock %}

{% block body %}
<h1 class="mt-5">Films</h1>
<div class="list-group mt-5">
    {% for movie in movies %}
    <a href="{{ path('movie_view', {'id': movie.id}) }}" class="list-group-item list-group-item-action">
        {{ movie.title }}
    </a>
    {% endfor %}
</div>
{% endblock %}
