{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Movies Category {% endblock %}

{% block body %}

    {{ dump(category) }}

    <ul>
        {% for movie in category.movies %}

        <li>{{ movie.title}}</li>

        {% endfor %}
    </ul>

    {{ dump(category) }}

{% endblock %}
