{% extends 'base.html.twig' %}

{% block title %}

    {{ parent() }} - Ajouter une personne

{% endblock %}

{% block body %}

<h1 class="mt-5">Ajouter une nouvelle personne</h1>

{{ form_start(form) }}

{{ form_widget(form) }}

<button class="btn btn-primary" type="submit">Valider</button>

{{ form_end(form) }}

{% endblock %}