{% extends 'base.html.twig' %}

{% block title %}Liste d'articles{% endblock %}

{% block body %}

    <div class="d-flex justify-content-between align-items-start mt-5">
        <h1>Liste d'articles</h1>
        <a href="{{ path('post_new') }}" class="btn btn-primary">Ajouter un article</a>
    </div>

    <div class="mt-5">
        <div class="list-group mt-5">
        {% for post in posts %}
                <a href="{{ path('post_show', {'id': post.id}) }}" class="list-group-item list-group-item-action d-flex justify-content-between align-items-start">
                    <p>{{ post.title }}</p>
                    <p>{{ post.createdAt|date('Y-m-d') }}</p> 
                </a>
        {% else %}
            <p colspan="5">Aucun article trouvé</p>
        {% endfor %}
        </div>
    </div>

{% endblock %}

